* This stylesheet is for your tested CSS, styles here will be deactivated when toggling wireframe style *./

header
{
    background-image: url(background.jpg);
    height:100vh;
    backgroun-size: cover;
    background-position: center;
}


#about
{ background-color: #B0E0E6

  
}

#seats
{ background-color: #FFF5EE
}

#showing
{ background-color: #B0E0E6
}

#booking
{ background-color: #EEE8AA

}


footer {
  background-color: white;
}

.tab1 { 
       display:inline-block; 
       margin-left: 36px; 
}

.tab2 { 
       display:inline-block; 
       margin-left: 55px;
} 

.tab3 { 
       display:inline-block; 
       margin-left: 50px; 
}

.tab4 { 
       display:inline-block; 
       margin-left: 15px; 
}

.tab5 { 
       display:inline-block; 
       margin-left: 47px; 
}

.tab6 { 
       display:inline-block; 
       margin-left: 265px; 
}


.navbar {
  overflow: hidden;
  background-color: #0000FF;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; }

.active{
  background-color:red;
}
section{
  min-height:100vh;
  padding-top:50px;
  color:white;
  font-size:2em;
}


.clicked{
    border:1px solid black;
    //style
}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5} 
html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}
h1,h2,h3{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}

/* Modal background */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.column {
  float: left;
  width: 23%;
  padding: 10px;
}

.column {
  float: left;
  width: 23%;
  padding: 10px;
  color: green;

.row {
  float: left;
  width: 23%;
  padding: 10px;
  color: green;



/* Style the images inside the grid */
.column img {
   cursor: pointer; 
}


/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}



body {
     height:100%;
     margin:0;
     padding:0;
     background-image: url('background.jpg');
    
}


